main.Menu{
    #Burgur_Menu{
        background-image: url('../asset/images/Deals/bgimg.gif');
        background-repeat: no-repeat;
        min-height: 50vh;
        background-position: center;
        background-size: cover;
    }
}